.imageupload{

    display: flex;
    flex-direction: column;
    width: auto;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px; */
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 5px;
    border-top: 1px solid black;
    justify-content: center;
}

.imageupload_progress{
    width: 100%;
}